html {
	height: 100%;
	width: 100%;
}
body { 
	margin: 0;
	position: relative;
	background-color: #000;
	/* background-image: url(starfield_stock_1.jpg); */
	background-size:cover;
	height: 100%;
	width: 100%;


}

#muni_bus{
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
}

.building_2 > rect{
	fill:#000;
}